<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 15.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="114px" height="65px" viewBox="36.5 42.5 114 65" enable-background="new 36.5 42.5 114 65" xml:space="preserve">
<image overflow="visible" enable-background="new    " width="300" height="240" xlink:href="8395D61A.jpeg"  transform="matrix(0.3333 0 0 0.3333 44.0002 36.9998)">
</image>
</svg>
